STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
MEMORY_DB_CONN=
GOOGLE_API_KEY=
ENVIRONMENT=
OPENAI_API_KEY=

MEMORY_ADMIN_KEY=
CORS_ORIGINS=
API_BASE_URL=
SITE_BASE_URL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
EXTRACTION_MODEL=
POSTHOG_API_KEY=
SENTRY_DSN=

# Resend Email Configuration
re_CtU2BUep_5LYNaYWNFXaUaEEf7rYJJLdj
RESEND_FROM_EMAIL=
RESEND_SUPPORT_EMAIL=
RESEND_API_KEY=
